
.idea/.idea.programacao-criativa.dir/.idea/encodings.xml
.idea/.idea.programacao-criativa.dir/.idea/indexLayout.xml
.idea/.idea.programacao-criativa.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.programacao-criativa.dir/.idea/vcs.xml
.idea/.idea.programacao-criativa.dir/.idea/workspace.xml
